body {
  display: block;
  margin: 8px;
}

.title {
  text-align: center;
}

.nav-bar {
  text-align: center;
}

.items a {
  padding-right: 30px;
}

.main {
  display: flex;
  justify-content: space-around;
}

.info {
  float: right;
  padding-top: 50px;
}

.info p {
  width: 500px;
}

.tree-image {
  width: 500px;
  height: 300px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: grey;
  height: 200px;
}

.sidebar input {
  width: 100px;
}

.sidebar a {
  padding-top: 20px;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.foot a {
  margin-right: 40px;
}

.foot img {
  height: 35px;
  width: 35px;
}
